{% extends 'base.html' %}

{% block conteudo %}
    <h1>Bem-vindo(a) ao curso de Licenciatura em Informática!</h1>
    <h2>Escolha qual período você deseja acessar:</h2>
    <a href='/primeiro'>Primeiro Período</a><br>
    <a href='/segundo'>Segundo Período</a><br>
    <a href='/terceiro'>Terceiro Período</a><br>
    <a href='/quarto'>Quarto Período</a><br>
    <br>
    <h3>Fonte: PPP do Curso (2018)</h3>
    <br>
    <a href='/foto'>Aqui tem uma foto bem legal</a>
    <a href="/forms">E aqui um forms do balacobaco</a><br>
    <a href='/teste'>teste 2</a>
{% endblock %}