<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeiro</title>
</head>
<body>
    <h1>Primeiro Período:</h1>
    <ul>
        <li>Língua Portuguesa</li>
        <li>Matemática</li>
        <li>Informática</li>
        <li>Fundamentos da Educação I</li>
        <li>Pensamento Computacional</li>
        <li>Seminário de Inegração Acadêmica</li>
        <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente I</li>
        <li>Desenvolvimento de Práticas Educativas e Formação Docente I</li>
    </ul>
    <a href='/'>Voltar para a seleção de Períodos</a>
</body>
</html>