<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segundo</title>
</head>
<body>
    <h1>Segundo Período:</h1>
    <ul>
        <li>Psicologia da Aprendizagem</li>
        <li>Filosofia da Mente</li>
        <li>Lógica e Matemática Discreta</li>
        <li>Fundamentos da Educação II</li>
        <li>Fundamentos e Técnicas de Programação</li>
        <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente II</li>
        <li>Desenvolvimento de Práticas Educativas e Formação Docente II</li>
    </ul>
    <a href='/'>Voltar para a seleção de Períodos</a>
</body>
</html>v