<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terceiro</title>
</head>
<body>
    <h1>Terceiro Período:</h1>
    <ul>
        <li>Didática</li>
        <li>Probabilidade e Estatística</li>
        <li>Inglês Instrumental</li>
        <li>Robótica Educacional</li>
        <li>Programação Orientada à Objetos</li>
        <li>Seminário de Orientação ao Desenvolvimento de Práticas Educativas e Formação Docente III</li>
        <li>Desenvolvimento de Práticas Educativas e Formação Docente III</li>
    </ul>
    <a href='/'>Voltar para a seleção de Períodos</a>
</body>
</html>